# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local virtual environments
.venv/
env/
venv/

# Ignore git files
.git/
.gitignore

# Ignore Dockerfile and docker-compose files if not needed in build context
Dockerfile
docker-compose.yml

# Ignore logs and temporary files
*.log
tmp/
